.title {
  padding: 16px;
}
.foodcard {
  text-align: center;
}
.image {
  display: block;

  width: 100%;
  border-radius: 15px;
}

.image-container {
  position: relative;
}


.add-to-cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--Rose-50); 
  border-radius: 50px;
  border: 1px solid var(--Rose-300); 
  padding: 10px 20px;
  font-size: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  min-width: 140px;   
}
.add-to-cart{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding:0 px;
}
.add-to-cart-btn img {
  margin-right: 8px; 
}


.cart-controls {
  font-size: 0.7rem;
  font-weight: 500;
  padding: 0.42rem 0.83rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  
  background: var(--Red);
  
  border-radius: 50px;
  outline: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  color: var(--Rose-50);
  
}
.cart-controls img{
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid black ;
  width: 2vw;
}
.cart-controls img:hover{
  transform: scale(1.1);
  /* box-shadow: rgb(145, 142, 142) 0px 2px 10px; */
  border: 2px solid white ;
  
}
.cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--Rose-50);
  border-radius: 50%;
  width: 2.0vw;
  height: 2.9vh;
  background: var(--Red);
  color: var(--Rose-50);
  cursor: pointer;
  
}

.cart-btn:hover{
  background:var(--Rose-50);
  color: var(--Red);
}

.details {
  margin-top: 30px;
  line-height: 25px;
  text-align: left;
  padding: 0.5rem;
}
.category {
  font-size: 0.7rem;
  color: var(--Rose-300);
  margin: 0;
}
.name {
  font-size: 0.8rem;
  font-weight: 600;
}
.price {
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--Red);
}

.cart {
  padding: 2.7rem 1.9rem;
  background: var(--Rose-200);
  
}
.cart-logo {
  width: 65%;
  padding: 25px 6px;
}
.your-cart {
  color: var(--Red);
  font-size: 1.0rem;
}
.cart-info {
  color: var(--Rose-400);
  font-size: 1.0rem;
}
.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.individual-cart-item{
  display: flex;
  position: relative;
  flex-direction: column;
  font-size: 10px;
  border: 1px solid var(--Rose-50);
  border-radius: 10px;
  background: var(--Rose-100);
  padding: 0.4rem;
  margin-top: 10px;
}
.individual-cart-item img{
  position: absolute;
  left:130px;
  top: 40%;
  transition: background 0.3s ease, transform 0.2 ease;
  border-radius: 50%;
  border: 2px solid var(--Rose-300);
  padding: 1px;
}
.individual-cart-item img:hover{
  background: var(--Rose-300);
  transform: scale(1.1);  
}

.cart-item-name{
  font-weight: 600;
}
.cart-item-quantity{
  color: var(--Red);
}
.cart-item-price{
  color: var(--Rose-300);
}
.cart-item-price-quantity{
  display: flex;  
  margin-top: 5px;
  gap: 10px;
}
.cart-item-total-all{
  display: flex;
  color: var(--Rose-400);
  gap: 10px;
}

.cart img{
  cursor: pointer;
}
.order-total{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.6rem;
  font-weight: 500;
  margin-top: 20px;
  color: var(--Rose-400);
}
.total-amount{
  font-size: 1rem;
  font-weight: 600;
  margin: 10px 0;
  color: black;
}
.carbon-neutral{
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  align-items: center;
  font-size: 0.5rem;
  font-weight: 600;
}
.confirm-btn{
  margin-top: 20px;
}
.confirm{
  padding: 10px 33px;
  background: var(--Red);
  color: var(--Rose-50);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.confirm:hover{
  transform: scale(1.1);
}


.overlay {
  position: fixed;        /* important */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4); /* better than opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;          /* sits above everything */
}
.popup{
  background: white;
  border-radius: 10px;
  padding: 30px;
}
.new-order{
  padding: 10px 33px;
  background: var(--Red);
  color: var(--Rose-50);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}



@media screen and (min-width:380px) {
  
  .foodcard{  
    padding: 0 10px;
  }
  
  .main-page{
    display: flex;
  }
  .cart{
    width: 50vw;
    margin: -80px 10px;
    position: sticky;
  }
.cart-component{
  position: sticky;
  top: 20px;
}
  .add-to-cart-btn{
  font-weight: 700;
}
.cart-quantity{
  font-size: 1.1rem;
}
 
}


