.title {
  padding: 16px;
}
.foodcard {
  text-align: center;
}
.image {
  display: block;
  width: 100%;
  border-radius: 15px;
}

.image-container {
  position: relative;
}

.add-to-cart-btn {
  font-size: 0.6rem;

  font-weight: 500;
  padding: 0.42rem 0.83rem;
  display: flex;
  align-items: center;
  column-gap: 8px;
  background: var(--Rose-50);
  border: 1px solid var(--Rose-300);
  border-radius: 50px;
  outline: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  cursor: pointer;
}


.cart-controls {
  font-size: 0.7rem;
  font-weight: 500;
  padding: 0.42rem 0.83rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  
  background: var(--Red);
  
  border-radius: 50px;
  outline: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  color: var(--Rose-50);
  
}
.cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--Rose-50);
  border-radius: 50%;
  width: 2.0vw;
  height: 2.9vh;
  background: var(--Red);
  color: var(--Rose-50);
  cursor: pointer;
  
}

.cart-btn:hover{
  background:var(--Rose-50);
  color: var(--Red);
}

.details {
  margin-top: 30px;
  line-height: 25px;
  text-align: left;
  padding: 0.5rem;
}
.category {
  font-size: 0.9rem;
  color: var(--Rose-300);
  margin: 0;
}
.name {
  font-size: 1.1rem;
  font-weight: 600;
}
.price {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--Red);
}

.cart {
  padding: 2.7rem 1.9rem;
  background: var(--Rose-200);
}
.cart-logo {
  width: 65%;
  padding: 25px 6px;
}
.your-cart {
  color: var(--Red);
  font-size: 1.0rem;
}
.cart-info {
  color: var(--Rose-400);
  font-size: 1.0rem;
}
.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width:380px) {
  
  .foodcard{  
    padding: 0 10px;
  }
  
  .main-page{
    display: flex;
  }
  .cart{
    width: 50vw;
    /* top: 150px; */
    margin: -80px 10px;
  }
  .add-to-cart-btn{
  font-weight: 700;
}
.cart-quantity{
  font-size: 1.1rem;
}
 
}


